body{
    width:98.9%;
    padding-top:50px;
    font: 17px Arial, sans-serif;
}

p{
    margin:-20px -20px 5px -20px;
    padding:20px 0 20px 30px;
    background-color:#3498db;
    color:#2c3e50;
    font-size: 16px;
    font-weight:800;
}

.list{
    border:#bdc3c7 2px solid;
    width:68%;
    float:right;
    padding:20px;
    margin:20px 0;
}

h3{
    color:#e74c3c;
}

#info{
    float:left;
    border-right: #27ae60 3px solid;
    width :360px;
    height:88%;
    margin:0 30px 0 0;
    padding:20px 0 200px 20px;
    font: 17px Arial, sans-serif;
}

input{
    width:200px;
    height:40px;
}

.about{
    padding-left:20px;
    padding-right:20px;
    color:#27ae60;
    font-weight:800;
}

ul{
    padding-left:0;
    list-style:none;
}

#user{
    padding-left:110px;
    width:120px;
    height:120px;
    margin-bottom:10px;
}
.sortselect, #sort{
    width:25%;
    height:30px;
}

.sortRow{
    background-color: #d9edf7;
    width:100%;
    border:none;
    height:55px;
}

table {
    font:14px "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
}

.sortselect{
    width:33% !important;
    float:left;
    margin:0 10px;
}

h3{
    color:red !important;
    display:table;
    margin:25px auto;
}

.col-lg-3{
    padding-top:30px;
    height:95vh;
}

ul form{
    margin-bottom:0;
}

.sortselect, .btn-success{
    margin-top:10px !important;
    margin-bottom:12px;
    margin-left:55px;
}